/* le bloc défilant */
.banner__title > :first-child {
    display: inline-block;                /* modèle de boîte en ligne */
    padding-right: 2em;                   /* un peu d'espace pour la transition */
    padding-left: 100%;                   /* placement à droite du conteneur */
    white-space: nowrap;                  /* pas de passage à la ligne */

    /* propriété animation */
    animation: defilement-rtl 15s infinite linear;
    animation-name: defilement-rtl;       /* référence à la règle @keyframes mise en oeuvre */
    animation-duration: 15s;              /* valeur à ajuster suivant la longueur du message */
    animation-iteration-count: infinite;  /* boucle continue */
  }

  /* Règle @keyframes */
  @keyframes defilement-rtl {
    0% {
      transform: translate3d(0,0,0);      /* position initiale à droite */
    }
    100% {
      transform: translate3d(-100%,0,0);  /* position finale à gauche */
    }
  }